@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

/* navbar css */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  border-bottom: .1rem solid #E2E8F0;
}

.navbar {
  max-height: 5.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.65rem 1.5rem;
  background-color: #101010;
}

.navbarMini {
  display: none;
}

.nav-logo img {
  height: 4.5rem;
  width: 4.5rem;
}

.bar {
  display: block;
  width: 2.5rem;
  height: .3rem;
  margin: .5rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #e6e7e7;
}

.nav-link:hover {
  color: #837a7a;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}



.cartBtn {
  background-color: #ffcb59c7;
  border-radius: 100rem;
  box-shadow: rgba(187, 165, 44, 0.2) 0 -2.5rem 1.8rem -1.4rem inset, rgba(165, 187, 44, 0.15) 0 .1rem .2rem, rgba(187, 173, 44, 0.15) 0 .2rem .4rem, rgba(187, 173, 44, 0.15) 0 .4rem .8rem, rgba(44, 187, 99, .15) 0 .8rem 1.6rem, rgba(187, 185, 44, 0.15) 0 1.6rem 3.2rem;
  color: rgb(128, 94, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: .7rem 2.0rem;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 1.6rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.cartBtn:hover {
  box-shadow: rgba(187, 165, 44, 0.2) 0 -2.5rem 1.8rem -1.4rem inset, rgba(165, 187, 44, 0.15) 0 .1rem .2rem, rgba(187, 173, 44, 0.15) 0 .2rem .4rem, rgba(187, 173, 44, 0.15) 0 .4rem .8rem, rgba(44, 187, 99, .15) 0 .8rem 1.6rem, rgba(187, 185, 44, 0.15) 0 1.6rem 3.2rem;
  transform: scale(1.05) rotate(-1deg);
}

.cartBtn a {
  text-decoration: none;
}

.cartBtn :hover {
  text-decoration: none;
  color: #000;
}


/* carousel */
.carousel-inner {
  margin: 0;
  height: 80vh;
}

.carousel-item img {
  align-items: bottom;
}

/* contact */

.Contact-container {
  margin: 2.0rem;
}

/* ------login css------ */

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

.login-logo {
  display: flex;
  justify-content: center;
  height: 10.0rem;
  width: 100%;
  margin-top: 8.0rem;
}

.login-logo img {
  height: 10.0rem;
  width: 10.0rem;
}

.screen {
  background: linear-gradient(90deg, #1a1920, #31302f);
  position: relative;
  height: 60.0rem;
  width: 36rem;
  box-shadow: 0rem 0rem 2.4rem #968256;
}

.screen__content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.login {
  width: 32rem;
  padding: auto;
  padding-top: -2.8rem;
  text-align: center !important;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.login__field {
  padding: 2rem 0rem;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 3rem;
  color: #7875B5;
}

.login__input {
  FONT-VARIANT: JIS04;
  border: none;
  border-bottom: .2rem solid #D1D1D4;
  background: none;
  padding: 1rem;
  padding-left: 2.4rem;
  font-weight: 700;
  width: 100%;
  transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #eecda2;
}

.login__submit {
  background: #fff;
  font-size: 1.4rem;
  margin-top: 3.0rem;
  padding: 1.6rem 2.0rem;
  border-radius: 2.6rem;
  border: .1rem solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #eecda2;
  box-shadow: 0rem .2rem .2rem #6e5a40;
  cursor: pointer;
  transition: .2s;
  justify-content: center;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #c9ae8a;
  outline: none;
  text-align: center;
}

.button__text {
  text-align: center;
}

.login__field input {
  text-align: center;
  color: white;
}





/* signup css */

.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

.signup-logo {
  display: flex;
  justify-content: center;
  height: 10.0rem;
  width: 100%;
  margin-top: 8.0rem;
}

.signup-logo img {
  height: 10.0rem;
  width: 10.0rem;
}

.screen {
  background: linear-gradient(90deg, #1a1920, #31302f);
  position: relative;
  height: 60.0rem;
  width: 36.0rem;
  box-shadow: 0rem 0rem 2.4rem #968256;
}

.screen__content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.signup {
  width: 32.0rem;
  padding: auto;
  padding-top: -2.8rem;
  text-align: center !important;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.signup__field input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.589);
  color: black;

}
.signup__field h3{
  font-size: medium;
  color: white;
}

.signup__field {
  padding: 1.0rem 0rem;
  position: relative;
  margin-top: .2rem;

}

.signup__icon {
  position: absolute;
  top: 3.0rem;
  color: #7875B5;
}

.signup__input {
  FONT-VARIANT: JIS04;
  border: none;
  border-bottom: .2rem solid #D1D1D4;
  background: none;
  padding: 1.0rem;
  padding-left: 2.4rem;
  font-weight: 700;
  width: 100%;
  transition: .2s;
}

.signup__input:active,
.signup__input:focus,
.signup__input:hover {
  outline: none;
  border-bottom-color: #eecda2;
}

.signup__submit {
  background: #fff;
  font-size: 1.4rem;
  margin-top: 3.0rem;
  padding: 1.6rem 2.0rem;
  border-radius: 2.6rem;
  border: .1rem solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #eecda2;
  box-shadow: 0rem .2rem .2rem #6e5a40;
  cursor: pointer;
  transition: .2s;
  justify-content: center;
}

.signup__submit:active,
.signup__submit:focus,
.signup__submit:hover {
  border-color: #c9ae8a;
  outline: none;
  text-align: center;
}

.button__text {
  text-align: center;
}

.signup__field input {
  text-align: center;
  color: white;
}


/* -----basic css----- */

.Indexcontainer {
  width: 90%;
  height: 100vh;
  /* background-color: red; */
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.main-body {

  background-image: url("yatri-bg.png");
  background-color: #0000009f;
  background-position: top;
}

.listing {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* transform: translateX(-50%); */
  width: 100%;
  margin-bottom: 2.0rem;
  margin-top: 2.0rem;
  /* background-color: blue; */
  flex-direction: row;
  align-content: flex-start;
  align-items: center;

}

.product {
  width: 24.0rem;
  position: relative;
}

.product a {
  text-decoration: none;
}

.img-wrapper {
  display: block;
  width: 24.0rem;
  height: 26.0rem;
  border: .1rem solid #afafaf;
  border-bottom: 0;
  overflow: hidden;
  text-align: center;
}

.img-wrapper img {
  width: 23.6rem;
  height: 33.7rem;
  padding-bottom: 3.0rem;
}

.info {
  width: 100%;
  background: #000;
  color: #fff;
  position: relative;
  padding: 4.0rem 1.0rem 2.0rem 1.0rem;
  text-align: center;

  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 .1rem rgba(0, 0, 0, 0);
  transition-property: color, height;
  transition-duration: 0.3s, 0.4s;
  transition-timing-function: ease-out;
  height: 8.3rem;
}

.info:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  transform: scaleY(0);
  transform-origin: 50%;
  transition: transform 0.3s ease-out;
}

.info:after {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  border-style: solid;
  transition-duration: 0.3s;
  transition-property: transform;
  left: calc(50% - 1.1rem);
  bottom: 0;
  border-width: 1.0rem 1.0rem 0 1.0rem;
  border-color: black transparent transparent transparent;
}

.product:hover .info {
  height: 4.0rem;
}

.product:hover .info:before {
  transform: scaleY(0.7);
}

.product:hover .info:after {
  visibility: visible;
  transform: translateY(1.0rem);
}

.title {
  transition: transform 0.3s ease-out;
}

.title a {
  color: inherit;
}

.product:hover .title {
  transform: translateY(-1.8rem);
  font-weight: bold;
  color: #000;
}

.price {
  background: #e32d2c;
  position: absolute;
  font-size: 1.3em;
  padding: .4rem 1.3rem;
  top: -1.5rem;
  right: 1.0rem;
}

.price.sale {
  background: #00ba2f;
}

.price.old {
  font-size: 0.95em;
  padding: .4rem .6rem;
  text-decoration: line-through;
  top: -4.3rem;
}

.actions-wrapper {
  margin-top: 1.4rem;
  display: flex;
  justify-content: space-around;
  visibility: hidden;
}

.actions-wrapper * {
  width: 50%;
  padding: .2rem 0;
  text-align: center;
  color: #191919;
  font-size: 0.95em;
  font-weight: bold;
}

.actions-wrapper *:before {
  font-family: "FontAwesome";
  margin-right: .8rem;
}

.wishlist {
  border-right: .1rem solid #afafaf;
}

.wishlist:hover {
  color: #e32d2c;
}

.wishlist:before {
  content: "\f08a";
}

.cart:hover {
  color: #0a75b9;
}

.cart:before {
  content: "\f07a";
}

.product:hover .actions-wrapper * {
  visibility: visible;
}

.note {
  position: absolute;
  top: 0;
  left: 0;
  padding: .4rem .8rem;
  font-size: 0.9em;
}

.note.on-sale {
  background: #00ba2f;
  color: #fff;
}

.note.no-stock {
  background: #191919;
  color: #fff;
}

.freshSale {
  width: 100%;
  height: 44.2rem;
  background-color: #d8d0c359;
  margin-bottom: 5.0rem;
  margin-top: 4.0rem;
}

.heading {
  font-weight: bold;
  margin: 2.0rem;
  font-size: 3.0rem;
  font-style: bold;
  font-family: ui-sans-serif;
  text-align: center;
}

.about-container {
  color: white;
  display: flex;
  height: 100vh;
  background-color: #424242ef;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.about-container p {
  margin: 4.0rem;
}


.productcard {
  width: 65.0rem;
  height: 37.5rem;
  position: absolute;
  background: white;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, 0.16),
    0 .2rem 1.0rem 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s;
}

.prodphoto {
  padding: 3.0rem;
  width: 45%;
  text-align: center;
  float: left;

}

.prodphoto img {
  max-height: 24.0rem;
}

.description {
  padding: 3.0rem;
  float: left;
  width: 55%;
  border-left: .2rem solid #efefef;
}

.cartButton :hover {
  background: darken(white, 2%);
  border: .1rem solid #aedaa6;
  color: #aedaa6;
  cursor: pointer;
}

.arrow {
  float: left;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1.0rem;
}

.prodnav {
  width: 100%;
  color: #727272;
  text-transform: uppercase;
  padding: 2.0rem;
  border-bottom: .2rem solid #efefef;
  font-size: 1.2rem;
}

.aboutCtn h1 {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  margin-left: -.5rem;
  font: 7em sans-serif;
  font-style: bold;
}

.aboutCtn p {
  margin-bottom: 1.8rem;
  font: 2em sans-serif;



}

.prodnav a,
.prodnav a:hover,
.prodnav a:focus,
.prodnav a:active {
  text-decoration: none;
  color: inherit;
}

.pageTitle h1 {
  margin: 2.0rem;
  font-size: 4.0rem;
  /* text-align: center; */
  font-style: bold;
  /* font-weight: 500; */
  line-height: 1.2;
  color: inherit;

}

/* cart */
.table>tbody>tr>td,
.table>tfoot>tr>td {
  vertical-align: middle;
}

@media all and  (max-width: 600px) {
  table#cart tbody td .form-control {
    width: 20%;
    display: inline !important;
  }

  .actions .btn {
    width: 36%;
    margin: 1.5em 0;
  }

  .actions .btn-info {
    float: left;
  }

  .actions .btn-danger {
    float: right;
  }

  table#cart thead {
    display: none;
  }

  table#cart tbody td {
    display: block;
    padding: .6rem;
    min-width: 32.0rem;
  }

  table#cart tbody tr td:first-child {
    background: #333;
    color: #fff;
  }

  table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 8rem;
  }



  table#cart tfoot td {
    display: block;
  }

  table#cart tfoot td .btn {
    display: block;
  }

}

.resizeImage {
  width: 12.0rem;
  height: 12.0rem;
}

@media all and (max-width: 998px) {
  html{
    font-size: 55%;
  }
  
}

@media all and (max-width: 768px) {
  html{
    font-size: 45%;
  }
  
}
@media all and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10rem;
    text-align: center;
    transition: 0.3s;
    box-shadow:
      0 10rem 27rem rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .navbarMini {
    display: block;
    cursor: pointer;
  }

}
