@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

/* navbar css */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #E2E8F0;
}

.navbar {
  max-height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.65rem 1.5rem;
  background-color: #101010;
}

.navbarMini {
  display: none;
}

.nav-logo img {
  height: 45x;
  width: 45px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #e6e7e7;
}

.nav-link:hover {
  color: #837a7a;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .navbarMini {
    display: block;
    cursor: pointer;
  }

}

/* ------login css------ */

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

.screen {
  background: linear-gradient(90deg, #1a1920, #31302f);
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0px 0px 24px #968256;
}

.screen__content {
  position: relative;
  height: 100%;
}

.login {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
  text-align: center !important;
}

.login__field {
  padding: 20px 0px;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 30px;
  color: #7875B5;
}

.login__input {
  FONT-VARIANT: JIS04;
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 100%;
  transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #eecda2;
}

.login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #eecda2;
  box-shadow: 0px 2px 2px #6e5a40;
  cursor: pointer;
  transition: .2s;
  justify-content: center;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #c9ae8a;
  outline: none;
  text-align: center;
}

.button__text {
  text-align: center;
}

.login__field input {
  text-align: center;
  color: white;
}







/* -----basic css----- */

.Indexcontainer {
  width: 90%;
  height: 100vh;
  /* background-color: red; */
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.main-body {

  background-image: url("yatri-bg.png");
  background-color: #0000009f;
}

.listing {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* transform: translateX(-50%); */
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  /* background-color: blue; */
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  margin: 51px 49px;

}

.product {
  width: 240px;
  position: relative;
}

.product a {
  text-decoration: none;
}

.img-wrapper {
  display: block;
  width: 240px;
  height: 260px;
  border: 1px solid #afafaf;
  border-bottom: 0;
  overflow: hidden;
  text-align: center;
}

.img-wrapper img {
  width: 236px;
  height: 337px;
  padding-bottom: 30px;
}

.info {
  width: 100%;
  background: #000;
  color: #fff;
  position: relative;
  padding: 40px 10px 20px 10px;
  text-align: center;

  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-property: color, height;
  transition-duration: 0.3s, 0.4s;
  transition-timing-function: ease-out;
  height: 83px;
}

.info:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  transform: scaleY(0);
  transform-origin: 50%;
  transition: transform 0.3s ease-out;
}

.info:after {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  border-style: solid;
  transition-duration: 0.3s;
  transition-property: transform;
  left: calc(50% - 11px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: black transparent transparent transparent;
}

.product:hover .info {
  height: 40px;
}

.product:hover .info:before {
  transform: scaleY(0.7);
}

.product:hover .info:after {
  visibility: visible;
  transform: translateY(10px);
}

.title {
  transition: transform 0.3s ease-out;
}

.title a {
  color: inherit;
}

.product:hover .title {
  transform: translateY(-18px);
  font-weight: bold;
  color: #000;
}

.price {
  background: #e32d2c;
  position: absolute;
  font-size: 1.3em;
  padding: 4px 13px;
  top: -15px;
  right: 10px;
}

.price.sale {
  background: #00ba2f;
}

.price.old {
  font-size: 0.95em;
  padding: 4px 6px;
  text-decoration: line-through;
  top: -43px;
}

.actions-wrapper {
  margin-top: 14px;
  display: flex;
  justify-content: space-around;
  visibility: hidden;
}

.actions-wrapper * {
  width: 50%;
  padding: 2px 0;
  text-align: center;
  color: #191919;
  font-size: 0.95em;
  font-weight: bold;
}

.actions-wrapper *:before {
  font-family: "FontAwesome";
  margin-right: 8px;
}

.wishlist {
  border-right: 1px solid #afafaf;
}

.wishlist:hover {
  color: #e32d2c;
}

.wishlist:before {
  content: "\f08a";
}

.cart:hover {
  color: #0a75b9;
}

.cart:before {
  content: "\f07a";
}

.product:hover .actions-wrapper * {
  visibility: visible;
}

.note {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 8px;
  font-size: 0.9em;
}

.note.on-sale {
  background: #00ba2f;
  color: #fff;
}

.note.no-stock {
  background: #191919;
  color: #fff;
}

.freshSale {
  width: 100%;
  height: 400px;
  /* background-color: red; */
  margin-bottom: 50px;
}

.productcard {
  width: 650px;
  height: 375px;
  position: absolute;
  background: white;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s;
}

.prodphoto {
  padding: 30px;
  width: 45%;
  text-align: center;
  float: left;

}

.prodphoto img {
  max-height: 240px;
}

.description {
  padding: 30px;
  float: left;
  width: 55%;
  border-left: 2px solid #efefef;
}

.cartButton :hover {
  background: darken(white, 2%);
  border: 1px solid #aedaa6;
  color: #aedaa6;
  cursor: pointer;
}

.arrow {
  float: left;
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.prodnav {
  width: 100%;
  color: #727272;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 2px solid #efefef;
  font-size: 12px;
}

.aboutCtn h1 {
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: -5px;
  font: 7em sans-serif;
  font-style: bold;
}

.aboutCtn p {
  margin-bottom: 18px;
  font: 2em sans-serif;



}

/* carousel */
.carousel-wrapper{
  height:400px;
  position:relative;
  width:800px;
  margin:0 auto;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}
 
.arrow-next{
    right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }

/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  background:url('https://static.pexels.com/photos/6526/sea-beach-holiday-vacation-large.jpg');
  background-size:cover;
  }
.item-2{
  background:url('https://static.pexels.com/photos/6506/alcohol-bar-drinks-party-large.jpg');
   background-size:cover;
}
.item-3{
  background:url('https://static.pexels.com/photos/6529/lake-kajak-kayak-large.jpg');
   background-size:cover;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }


