{% extends 'basic.html' %}

{% block title%}About{% endblock %}
{% block body %}

<main role="main">
    <div class="aboutCtn">
      <div class="container">
        <h1 class="display-3">Yatri supply</h1>
        <p>YATRI (noun) • yātrī • musāfir • mārgī <br>
          A traveller, seeker, pilgrim who is making a journey.
          
          The fuel that sets us going is our core values. We abide by what we believe in, and that keeps us persistent in the yatra. We exist to build a world more connected to nature, transform communities by inspiring people to travel, open our minds and live meaningfully. We tell stories of exploration and human potential that inspire and bring people together to help build a future we want to live in.
          
          Our Core Values are:
          
          • Build the best product
          • Inspire passion, adventure and human capacity
          • Be curious and creative – not bound by convention
          • Be mindful, fun and open
          • Celebrate simplicity and authenticity
          • Care about our environment and community
          • Value craftsmanship and our team in all we make
          
          Nature ignites our very core, it fuels our imagination. To learn and flourish with each answered queries, to grow more in the route of discovering the elucidation is what makes us Yatri. We ask ourselves why and how. But, we don’t stop there. After all, a Yatri in their soul is always curious.
          
          We believe in connection – the linking with every dots that fit together. Every Yatri moves on a journey of inner revolution. Every Yatri finds themselves connected to many-a-parts of different wholes.
          
          Simplicity is what best defines everything we do. Layers are important. But we believe in simple layers – we build up in a way that is not uncommon. We do what we feel brings out the best, and we make the most out of every moment. Simplicity binds each of our morals – creativity, connection and curiosity into a single thread.</p>
      </div>  
    </div>
  
    
  
  
  </main>
  
  <footer class="container">
    <p>&copy; Yatri Supply 2022</p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
  </html>



{% endblock %}