{% extends 'basic.html' %}
{% load static %}
{% block title%} Home {% endblock %}

{% block body %}

  <div class="freshSale">
    <h3>Fresh Products </h3>
    <ul class="listing">
      {% for sale in freshsale %}
        <li class="product">
          <a class="img-wrapper" href="{% url 'productview' sale.id %}">
            <img src="{{sale.product.image.url}}" >
          </a>
          
          <div class="info">
            <div class="title">{{sale.product.name}}</div>
            <div class="price">Rs {{sale.product.price}}</div>
          </div>
          
          <div class="actions-wrapper">
            <a href="#" data-product="{{sale.product.id}}" data-action="add" class="add-btn cart addCart">Cart</a>
          </div>
        </li>
      {% endfor %}
  
    </ul>

  </div>

  <div class="freshSale">
    <h3>Most Popular</h3>
    <ul class="listing">
      {% for item in popular %}
        <li class="product">
          <a class="img-wrapper" href="{% url 'productview' item.id %}">
            <img src="{{item.product.image.url}}" >
          </a>
          
          <div class="info">
            <div class="title">{{item.product.name}}</div>
            <div class="price">Rs {{item.product.price}}</div>
          </div>
          
          <div class="actions-wrapper">
            <a href="#" data-product="{{product.id}}" data-action="add" class="add-btn cart addCart">Cart</a>
          </div>
        </li>
      {% endfor %}
  
    </ul>

  </div>
      

 {% endblock %}
 