{% extends 'basic.html' %}

{% block title%}Login{% endblock %}
{% block body %}

<div class="login-container">
	<div class="screen">
		<div class="screen__content">
			<form class="login">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="User name / Email">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Password">
				</div>
				<button class="button login__submit">
					<div class="button__text">Log In</div>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
			</form>
	</div>
</div>

{% endblock %}