{% extends 'basic.html' %}

{% block title%}About{% endblock %}
{% block body %}

<div class="productcard">
    <nav class="prodnav">
      <svg class="arrow" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <polygon points="352,115.4 331.3,96 160,256 331.3,416 352,396.7 201.5,256 " stroke="#727272" />
      </svg>
      <a href="/">back to home</a>
    </nav>
    <div class="prodphoto">
      <img src="https://s-media-cache-ak0.pinimg.com/236x/3b/36/ca/3b36ca3afe0fa0fd4984b9eee2e154bb.jpg">
    </div>
    <div class="description">
      <h2>Classic Peace Lily</h2>
      <h4>Popular House Plant</h4>
      <h1>$18</h1>
      <p>Classic Peace Lily is a spathiphyllum floor plant arranged in a bamboo planter with a blue & red ribbom and butterfly pick.</p>
      <button class="cartButton">Add to Cart</button>
      
    </div>
</div>

{% endblock %}